@using Faculty.Repositories
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Faculty";
}

<h1>@ViewData["Title"]</h1>
<h1>List of the courses</h1>
<select class="form-select">
    <option selected>Choose the course...</option>
    <!--@for (int i = 0; i < Model.Count(); i++)
    {
        <option value="@i">@Model.ElementAt(i).Name</option>
    }-->
    @foreach (var course in Model)
    {
        <option>@course.Name</option>
    }
</select>
<table class=" = table table-bordered table-striped">
    
    <thead>
        <tr>
            <th>CourseId</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
        <tr>
            <td>@course.CourseId</td>
            <td>@course.Name</td>
            <td>@course.Description</td>
        </tr>
        }
    </tbody>
</table>