@using Faculty.Repositories
@model IEnumerable<Course>
@{
    ViewData["Title"] = "Faculty";
}

<h1>@ViewData["Title"]</h1>
<h1>List of the courses</h1>
<form method="post" asp-controller="Home" asp-action="ChooseCourse">
    <p>
        <select name ="CourseId" class="form-select">
            <option value="0" selected>Choose the course...</option>
            @foreach (var course in Model)
            {
                <option value="@course.CourseId">@course.Name</option>
            }
        </select>
        <input type="submit" value="Submit">
    </p>
</form>
    <table class=" = table table-bordered table-striped">

        <thead>
            <tr>
                <th>CourseId</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CourseId</td>
                    <td>@course.Name</td>
                    <td>@course.Description</td>
                </tr>
            }
        </tbody>
    </table>
